@import "tailwindcss";

@theme {
  --color-surface-tint: #cec892;
  --color-primary-container: #a39e6b;
  --color-inverse-surface: #e5e2e1;
  --color-surface-container-high: #2a2a2a;
  --color-on-tertiary: #382a49;
  --color-on-secondary: #33311f;
  --color-on-error-container: #ffdad6;
  --color-on-tertiary-fixed: #221533;
  --color-tertiary: #d2bfe6;
  --color-error: #ffb4ab;
  --color-surface-container-low: #1c1b1b;
  --color-surface: #131313;
  --color-on-background: #e5e2e1;
  --color-surface-dim: #131313;
  --color-on-surface: #e5e2e1;
  --color-surface-variant: #353534;
  --color-surface-bright: #393939;
  --color-primary: #cec892;
  --color-surface-container-highest: #353534;
  --color-on-primary-container: #38350c;
  --color-on-surface-variant: #cac6b8;
  --color-surface-container-lowest: #0e0e0e;
  --color-outline-variant: #49473c;
  --color-on-primary: #343109;
  --color-outline: #949183;
  --color-error-container: #93000a;

  --font-headline: "Newsreader", serif;
  --font-body: "Manrope", sans-serif;
  --font-label: "Manrope", sans-serif;
}

@layer utilities {
  .form-input-focus:focus {
    outline: none;
    border-bottom-color: var(--color-primary);
  }
}
